@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* code for the login page */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
}
.page{
  padding: 10px;
}
#login-page,#signup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}
.form-1 {
  width: 40%;
  padding:40px;
  background: white;
  border-radius: 10px;
  justify-content: center;
}
.title{
  text-align: center;
  margin-bottom: 20px;
}
#add-exercise-input{
  display :inline-block;
  width: auto;
}


.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 20px;
}
/* Style the inputs */

.email-input,.password-input,.username-input{
position: absolute;
height: 100%;
width: 100%;
border: 1px solid #DADCE0;
border-radius: 7px;
font-size: 16px;
padding: 0 20px;
outline: none;
background: none;
z-index: 1;
}

 /*Hide the placeholder texts (a) */

::placeholder {
color: transparent;
}

.signup-label,.login-label{
  position: absolute;
  top: 13px;
  left: 13px;
  padding: 0 4px;
  background: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.btn-primary:hover {
transform: translateY(-2px);
}
.email-input:focus+ .signup-label ,.password-input:focus+ .signup-label ,.username-input:focus + .signup-label ,
.email-input:focus+ .login-label ,.password-input:focus+ .login-label {
top: -7px;
left: 3px;
z-index: 10;
font-size: 14px;
font-weight: 600;
color: #007bff;
}

.email-input:focus,.password-input:focus,.username-input:focus {
border: 2px solid #007bff9d;
}
.email-input:not(:placeholder-shown)+ .signup-label,.password-input:not(:placeholder-shown)+ .signup-label,.username-input:not(:placeholder-shown)+ .signup-label,
.email-input:not(:placeholder-shown)+ .login-label,.password-input:not(:placeholder-shown)+ .login-label {
top: -7px;
left: 3px;
z-index: 10;
font-size: 14px;
font-weight: 600;
}

/* code for other page */

.active {
    text-decoration: line-through;
  }
  
.hidden {
  display: none !important;
}
  
  #user-container {
    margin-top: 20px;
  }
  
  #user-container li {
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    background: rgb(242,242,242);
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
  }
  
.delete-button {
    position: absolute;
    right: -45px;
    background: #e74c3c;
    width: 45px;
    height: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
  }
li:hover .delete-button {
    right: 0;
  }

li {
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 0 15px;
    overflow: hidden;
}
  .not-completed{
    background-color: rgb(242,242,242);
  }
  .completed{
    background-color:#dff7e3;
  }
